.benner {
    background-image: url('../../../assets/benner_home.avif');
    width: 100vw;
    height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.benner > span {
    background-color: #e3e3e35e;
    color: rgb(5, 5, 5);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Kalam', sans-serif;
}
.wrapper { 
    display: flex;
    flex-direction: row;
}
.containerLeft {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    width: 100vw;
    max-width: 300px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 15px;
    border-right: 1px solid #0000002b;
}
.containerRight {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 15px;
    margin: 40px auto;
}
.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 1px 1px 10px #0000004a;
    gap: 5px;
    max-height: 500px;
    transition: transform 0.2s ease-in-out;
}
.cart:hover {
    transform: scale(1.05);
}
.addCard {
    margin-top: 10px;
}
.cart img {
    width: 280px;
    height: 280px;
}
.cart h3, .cart p {
    margin: 0;
    padding: 5px 0;
    text-align: center;
}
.button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #409f885e;
    color: #817979;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out, color 0.2s ease-in-out;
}
.button:hover {
    background-color: #1144379d;
    color: #fff;
}
.link {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
